<div class="div_div_div"></div>
<script type="text/javascript" src="https://viewer.marmoset.co/main/marmoset.js"></script>
<script>
    var my_url = "url";
    var myviewer = new marmoset.WebViewer( 400, 400, my_url );
    var my_div_id = my_url;
    var div_element = document.getElementsByClassName("div_div_div")[0];
    div_element.className = my_div_id;
    div_element.appendChild(myviewer.domRoot);

</script>
